[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "*"
gym = {extras = ["box2d"], version = "*"}
numpy = "*"
notebook = "*"
matplotlib = "*"
highway-env = "*"
gym-maze = {editable = true, git = "https://github.com/MattChanTK/gym-maze.git"}
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
